<ion-header>
  <ion-toolbar>
    <ion-title>Gestión de Fichas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="card-center">
      <ion-card color="light" defaultHref="/home">
        <ion-card-title>Listado Fichas</ion-card-title>
        <img src="assets/listar5.png" />
      </ion-card>
      <ion-card color="light">
        <ion-card-title>Crear Fichas</ion-card-title>
        <img src="assets/crearficha2.png" />
      </ion-card>
      <ion-card color="light">
        <ion-card-title>Asistencia</ion-card-title>
        <img src="assets/asistencia2.png" />
      </ion-card>
    </div>
  </div>
</ion-content>
